<!-- landmarks/show -->

<h2>NYC Historical Landmark: <%= @landmark.name %></h2>

<table>
  <tr>
    <th>Name</th>
    <th>Year Completed</th>
    <th>Figure</th>
  </tr>
  <tr>
    <td><%= @landmark.name %></td>
    <td><%= @landmark.year_completed %></td>

    <% if @landmark.figure_id %>
      <td><%= @landmark.figure.name %></td>
    <% else %>
      <td> - </td>
    <% end %>
  </tr>
<table>

<a class="button" href="/landmarks/<%= @landmark.id %>/edit">Edit Landmark</a>
<a class="button" href="/landmarks">Landmarks</a>
